<p>
  <%= @user.name %>様
</p>
  
<p> 
  Regex Huntingをご利用いただきありがとうございます。<br />
  以下にパスワードリセット用のリンクを添付いたしました。<br />
  リンクをクリック後、パスワードを再設定していただくようお願いします。
</p>
<p><a href="<%= @url %>"><%= @url %></a></p>
