<h1>User#reset_password_email</h1>
<p>===============================================</p>

<p>
  Hello, <%= @user.email %>
</p>

<p> 
You have requested to reset your password.
To choose a new password, just follow this link.
Have a great day!
</p>
<p><a href="<%= @url %>"><%= @url %></a></p>
