<p>
  <%= @user.name %>様
</p>
  
<p> 
  Regex Huntingをご利用いただきありがとうございます。<br />
  以下にパスワードリセット用のリンクを添付いたしました。<br />
  リンクをクリック後、パスワードを再設定していただくようお願いいたします。
</p>
<p><a href="<%= @url %>">パスワードを再設定</a></p>
<p>
  このリンクは1度しか使用できません。<br />
  再度パスワードを変更する場合は<a href="<%= Settings.site.top_url %>"><%= Settings.site.top_url %></a>からやり直してください。
</p>
